.menu_wrapper {
  width: 85%;
  margin: auto;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.pizza_menu {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  font-family: PapaSans-Medium Condensed, HelveticaNeue-Condensed Bold,
    Arial Narrow, Arial, sans-serif;
  margin: 30px 0;
}
.header {
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  position: relative;
}
.header div span{
  color: white;
  background-color: red;
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 1.5px  2.5px;
  border-radius: 10px;
  line-height: 17px;
  font-size: 14px;
}
.header div p{
  margin: 0;
  color: red;
  font-size: 20px;
  font-weight: 700;
}
.pizza_menu p {
  font-size: 16px;
  line-height: 1.375em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
}
.pizza_menu .active {
  color: #fff;
  border-radius: 30px;
  background: #2d5d2a;
  transition: 0.2s ease-out;
}
.pizza_menu p:hover {
  color: #fff;
  border-radius: 30px;
  background: #2d5d2a;
  transition: 0.2s ease-out;
}
.label {
  display: flex;
  width: 100%;
  border: 1px solid #ffcf6e;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: 30px;
}
.label h1 {
  font-size: 20px;
  line-height: 1.375em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
}
.label h2 {
  font-size: 18px;
  line-height: 1.375em;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
}
.label p {
  font-size: 18px;
  line-height: 1.375em;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
}
.label button {
  font-size: 16px;
  line-height: 1.375em;
  height: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  letter-spacing: -1px;
  color: #fff;
  border-radius: 30px;
  background: #2d5d2a;
  border: none;
  margin: 0 10px;
}
.custom_pizza_section {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.content_wrapper h1 {
  font-size: 30px;
  line-height: 1.375em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
  width: 70%;
}
.content_wrapper p {
  font-size: 16px;
  line-height: 1.375em;
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
  width: 60%;
}

.slider_section {
  width: 70%;
}

.slider_section h1 {
  font-size: 20px;
  line-height: 1.375em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
}
.slider_section h2 {
  font-size: 18px;
  line-height: 1.375em;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
}
.PapaPicks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2%;
  /* align-items: center; */
  row-gap: 40px;
}
.category_heading {
  font-size: 28px;
  line-height: 1.375em;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  padding: 22px 0 12px 0;
  cursor: pointer;
  letter-spacing: -1px;
  margin: 0;
}
.card_wrapper {
  max-width: 23%;
  flex: 0 0 25%;
}
