.mainDiv {
  position: relative;
}
.horizentalDiv {
  display: flex;
  border-bottom: 1px solid gray;
  height: 90vh;
}
.img_wrapper {
  padding: 70px;
  border: 1px solid gray;
  border-bottom: none;
}
.img_wrapper img {
  width: 40vw;
  height: 70vh;
}
.content_wrapper {
  width: 100%;
  padding: 4% 0 0 0%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
.content_wrapper h1 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: -1px;
}
.content_wrapper h2 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.6);
}
.content_wrapper p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.6);
}
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}

.dropdown {
  width: 100%;
}

.container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

.incrementer {
  display: flex;
  align-items: center;
}

.incrementer select {
  width: 50px;
}

.incrementer input[type="number"] {
  width: 50px;
  text-align: center;
}

.container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}
.container .first_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.button_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.button_wrapper button:nth-child(1) {
  font-size: 14px;
  line-height: 1.375em;
  height: 2.5vw;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  letter-spacing: -1px;
  color: #fff;
  border-radius: 30px;
  background: #2d5d2a;
  border: none;
  margin: 0 10px;
  width: 105px;
}
.button_wrapper button:nth-child(2) {
  font-size: 14px;
  line-height: 1.375em;
  height: 2.5vw;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  letter-spacing: -1px;
  color: black;
  border-radius: 30px;
  background: #fff;
  border: 1px solid rgb(0, 0, 0, 0.3);
  margin: 0;
  width: 105px;
}
.menuwrapper{
  display: flex;
}
.menu .active {
  font-size: 16px;
  line-height: 1.375em;
  height: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  letter-spacing: -1px;
  color: #fff;
  border-radius: 30px;
  background: #2d5d2a;
  border: none;
  margin: 0 10px;
}

.menu button {
  font-size: 16px;
  line-height: 1.375em;
  height: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  letter-spacing: -1px;
  color: black;
  border-radius: 30px;
  background-color: transparent;
  border: none;
  margin: 0 10px;
}
.size_container {
  margin-top: 30px;
}
.size_container p {
  background-color: #f3f3f3;
  padding-left: 4%;
}
.size_option {
  display: flex;
  align-items: center;
  padding-left: 4%;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
.size_option input[type="radio"] {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.optionDeatilsBtn {
  display: flex;
}

/* -------------------------- */
.optionDeatilsBtn {
  padding-left: 4%;
}
.custom_button {
  padding: 4px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 10px;
}

/* Optional: Add hover effect */
.custom_button:hover {
  background-color: #e0e0e0;
}
.optionDeatilsBtn .active {
  background-color: gray;
  color: white;
}
.lastParagraph {
  font-size: 17px !important;
  width: 70%;
  margin-left: 4%;
  line-height: 25px !important;
}
.pizzaQuantity {
  justify-content: center;
  height: 10vh;
  align-items: center;
  display: flex;
}
.pizzaQuantity button:nth-child(1) {
  font-size: 26px;
  line-height: 1.375em;
  height: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  width: 3vw;
  cursor: pointer;
  letter-spacing: -1px;
  color: black;
  border-radius: 30px;
  border: 1px solid black;
  margin: 0 10px;
}
.pizzaQuantity button:nth-child(3) {
  font-size: 26px;
  line-height: 1.375em;
  height: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  width: 3vw;
  cursor: pointer;
  letter-spacing: -1px;
  color: black;
  border-radius: 30px;
  border: 1px solid black;
  margin: 0 10px;
}
.pizzaQuantity button:nth-child(4) {
  font-size: 16px;
  line-height: 1.375em;
  height: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  letter-spacing: -1px;
  color: #fff;
  border-radius: 30px;
  background: #2d5d2a;
  border: none;
  margin: 0 10px;
}

