.nav-link {
  color: #beaf87 !important;
  /* font-weight: bold; */
}
a {
  text-decoration: none !important;
}
.search-bar {
  background-color: #212529;
  /* border: 1px solid white;  */
  opacity: 0.7;
  color: white !important;
  max-width: 80%;
  padding: 10px 0px 10px 10px;
}
.search-bar ::placeholder {
  color: white !important;
}
::placeholder {
  color: white !important;  
  font-size: 14px;
}
.bg-back {
  background-color: #beaf87 !important;
}
 
.text-back {
  color: #beaf87 !important;
}
 
.text-sales {
  color: #2d862d !important;
}
 .testimonials {
  overflow: hidden !important;
 }

 footer {
  background-color: #3d3d3d;
  color: white;
  height: 40vh;
  overflow: hidden;
 }

.container{
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1200px;
}